@use "../../style.scss";

$background-color: #3a5244;
$text-color: #90b890;
$active-color: #4e6b5a;
$active-text-color: #f1ece4;

.sidebar {
  background: $background-color;
  color: $text-color;
}

.menu ul {
  list-style: none;
  margin: 0;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $text-color;

    .icon {
      width: 2em;
      height: 2em;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.router-link-active {
      color: $active-text-color;

      .icon {
        background-color: $active-color;
        border-radius: .7em;
      }
    }
  }
}

@media (min-width: 700px) {
  .sidebar {
    position: fixed;
    width: style.$side-menu-width;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .title {
    padding: 1.5rem 1.25rem;

    h1 {
      font-size: 19px;
      margin: 0;
    }
  }

  .menu {
    padding: 1em;

    ul {
      padding: 0.5rem 0;

      .menu-item a {
        gap: 0.75rem;
        padding: 0.75rem 1.25rem;
        font-size: .8em;

        &.router-link-active {
          background-color: $active-color;
          border-radius: 1.15em;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .sidebar {
    position: static;
    display: contents;
  }

  .title {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 1.25rem;
    background: $background-color;

    h1 {
      font-size: 1.1rem;
    }
  }

  .menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $background-color;

    ul {
      display: flex;
      justify-content: space-around;
      padding: 0;
    }

    .menu-item a {
      flex-direction: column;
      gap: 0.25rem;
      padding: 0.4rem 0.75rem;
      font-size: .65em;
      text-transform: uppercase;
    }
  }
}