@use "./style.scss";

section {
  background: var(--card);
  padding: 1.75rem;
}

main {
  margin-left: var(--side-menu-open-width);

  &.expanded {
    margin-left: var(--side-menu-closed-width);
  }
}