@use "../../style.scss";

.book-item {
  a {
    display: flex;
    text-decoration: none;
    color: var(--ink);

    .cover {
      width: 150px;
      height: 250px;
      object-fit: cover;

      &.no-result {
        align-content: center;
        text-align: center;
      }
    }

    .details {
      padding: 10px;
      display: flex;
      flex-direction: column;

      .book-data {
        flex: 1;
        display: flex;
        flex-direction: column;

        .title {
          font-weight: 700;
        }
      }

      button {
        width: 180px;
        height: 30px;
      }
    }
  }
}