@use "../../style.scss";

$input-accent-color: #6f8c73;
$input-color: #a19181;

.search-icon {
  position: absolute;
  padding: .65em;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  span {
    font-size: 21px;
    color: $input-accent-color;
  }
}

input {
  padding: .8em 1em .8em 3em;
  border: 1px solid $input-color;
  border-radius: 1em;
  background: none;
  width: 100%;
  color: $input-color !important;

  &:focus {
    border: 1px solid $input-accent-color;
    outline: none;
    box-shadow: none;
  }
}